# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.egg-info/

# Node
node_modules/
npm-debug.log
yarn-error.log
.env.local

# Docker
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Build
dist/
build/
*.swu
*.sig

# Keys (IMPORTANT: Never commit real keys!)
*.key
*.pem
private_keys/
keys/

infrastructure/scripts/build/
infrastructure/scripts/Keys/
infrastructure/scripts/output/

infrastructure/infrastructure/docker/mosquitto/*
infrastructure/infrastructure/docker/mosquitto.conf
infrastructure/infrastructure/docker/.env.example
infrastructure/infrastructure/docker/.env